
ul.nav {
  /*background-color: #333;*/
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

ul.nav li {
  display: inline;
  font-weight: bold;
  margin-right: 20px;
  
}

ul.nav li a {
  text-decoration: 	none
 }
